

rect
{
    fill: rgb(167, 165, 165);
    stroke-width: .01vw;
    stroke: rgb(167, 165, 165);
    display: inline;
}


a .navbutton 
{
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar
{
    background-color:rgb(91, 55, 62);
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    top:0;
    border: .2em solid rgb(167, 165, 165);
    float: center;
    margin-bottom: 3vw;
}

.navbutton
{
    
    text-align: center;
    font-size: 2.5vw;
    transition-duration: .4s;
    display: inline;
    color: white;
    text-decoration: none;
    border-left: .1em, solid white;
    padding: 1.4305em;
}

.navbutton:hover
{
    background-color: grey;
    color:gold;
}



